@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    position: relative;
    @include m.tablet { 
        min-height: 70rem;
    }

    &::before {
        content: '';
        background-color: v.$negro;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .6;
    }

    .contenido-header {
        // margin-top: 5rem;
        position: relative;

        h1 {
            text-align: center;
            text-transform: uppercase;
            color: v.$blanco;
            margin-top: 5rem;
            @include m.tablet { 
                margin-top: 10rem;
            }
        }
    }
}


// HEADER DE CADA PAGINA
.header-inicio {
    background-image: url(../../../build/img/header_inicio.jpg);
}

.header-nosotros {
    background-image: url(../../../build/img/header_nosotros.jpg);
}

.header-proceso {
    background-image: url(../../../build/img/header_proceso.jpg);
}